.trip-yt-video{
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: 30px auto;
    display: block;
    pointer-events: initial;
}

#canada_roadtrip{
    width: 100%;
    max-width: 700px;
    height: 400px; 
    margin: 5px auto;
    margin-top: 30px;
    display: block;
}

@media screen and (max-width: 768px){
    .trip-yt-video{ height: 180px; }
}